importFrom(methods, setRefClass)

importFrom(data.table, data.table)
importFrom(data.table, foverlaps)
importFrom(data.table, setkey)
importFrom(data.table, rbindlist)
importFrom(data.table, fread)
importFrom(data.table, setcolorder)
importFrom(data.table, setnames)
importFrom(data.table, dcast.data.table)
importFrom(data.table, is.data.table)
importFrom(data.table, as.data.table)
importFrom(data.table, copy)
importFrom(data.table, between)

importFrom(digest, digest)

importFrom(pracma, interp1)
importFrom(pracma, randi)
importFrom(pracma, mod)
importFrom(pracma, isempty)
importFrom(pracma, zeros)
importFrom(pracma, ones)
importFrom(pracma, erfc)
importFrom(pracma, conv)

importFrom(ggplot2, aes)
importFrom(ggplot2, labs)
importFrom(ggplot2, ggplot)
importFrom(ggplot2, geom_point)
importFrom(ggplot2, scale_y_reverse)
importFrom(ggplot2, geom_hline)
importFrom(ggplot2, geom_vline)
importFrom(ggplot2, geom_step)
importFrom(ggplot2, scale_y_continuous)
importFrom(ggplot2, geom_rect)
importFrom(ggplot2, geom_segment)
importFrom(ggplot2, scale_x_continuous)
importFrom(ggplot2, theme)
importFrom(ggplot2, ggplotGrob)
importFrom(ggplot2, element_blank)
importFrom(ggplot2, element_text)
importFrom(ggplot2, element_line)

importFrom(grDevices, cairo_ps)

importFrom(grid, unit)
importFrom(grid, grid.newpage)
importFrom(grid, grid.draw)

importFrom(gtable, gtable_add_rows)
importFrom(gtable, gtable_add_grob)


export(read.seg.file)
export(read.markers)
export(read.genes.info.tsv)
export(read.genes.info.biomart)
export(rubic)